
*.vsidx
*.v2
*.cache
*.dll
.vs/Back-End-Dot-Net/v17/.suo
obj/Debug/net6.0/

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp