
*.vsidx
*.v2
*.cache
*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.log
*.VisualState.xml

.vs/Back-End-Dot-Net/v17/.suo
.vs/Back-End-Dot-Net/config/applicationhost.config
.vs/Back-End-Dot-Net/config/applicationhost.config
.vs/ProjectEvaluation/back-end-dot-net.metadata.v5.2
.vs/ProjectEvaluation/back-end-dot-net.projects.v5.2

/build/

_ReSharper.*/

Release/
obj/

TestResult.xml

Version.cs
Version.h
Version.cpp